<div class="card__container">
  <div class="card">
    <div class="card__profile">
      <div>
        <img src="../../../../assets/restaurant.jpg" alt="" />
      </div>
      <div class="img__info">
        <p class="profile__name"><strong>Blackness</strong></p>
        <p class="profile__rol">Fumadores: Si</p>
        <div class="profile__btn__container">
          <button class="btn edit">Edit</button>
          <button class="btn delete">Delete</button>
        </div>
      </div>
    </div>
    <div class="card__info">
      <div class="info__item">
        <p><strong>Cuit:</strong></p>
        <p>27-37525727-9</p>
      </div>
      <div class="info__item">
        <p><strong>Latitud:</strong></p>
        <p>25.452</p>
      </div>
      <div class="info__item">
        <p><strong>Longitud:</strong></p>
        <p>75.521</p>
      </div>
    </div>
  </div>
</div>
