.register__container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.form__container{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: #444;
    width: 400px;
    border-radius: 5px;
    height: fit-content;
    
    .form{
        padding: 20px;
        width: 100%;   
        text-align: center;

        .register__title{
            font-size: 30px;
            font-weight: 600;
            margin: 20px 0 30px 0 ;
            color: #fff;
        }
        
        img{
            width: 100px;
        }

        .input{
            display: block;
            padding: 10px;
            height: 40px;
            width: 100%;
            margin: 15px 0;
            border-radius: 3px;
            border:none;
        }
    
        .label{
            display: block;
            color: #fff;
        }

        .btn__login{
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            padding: 8px;
            color: #fff;
            background-color: #154360;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
    }

    .ingresar{
        color: #fff;
        margin-bottom: 20px;
        
        a{
            color: #1E8449 ;
        }
    }
    
}

//-------------MEDIA-QUERYS-------------//

@media screen and (max-width:900px){

    .form__container{
        margin: 20px;

        .input{
            height: 35px !important;
        }
    }
}
