<div class="form__container">
    <form action="" class="form">
        <input type="text" class="input" name="name" placeholder="Name">
        <input type="text" class="input" name="lastName" placeholder="Last name">
        <input type="text" class="input" name="dni" placeholder="D.N.I">
        <input type="text" class="input" name="fec_nac" placeholder="Fecha de nacimiento">
        <input type="text" class="input" name="sex" placeholder="Sexo">
        <input type="text" class="password" name="password" placeholder="Password">
        <input type="email" class="input" name="email" placeholder="E-mail">
        <input type="text" class="input" name="rol" placeholder="ROL">
        <button class="btn__login" type="submit">Register</button>
    </form>
</div>

