<div class="form__container">
    <form action="" class="form">
        <img src="../../../../assets/lock.png" alt="">
        <p class="register__title">Registrar Usuario</p>
        <input type="text" class="input" name="name" placeholder="Nombre">
        <input type="text" class="input" name="lastName" placeholder="Apellido">
        <input type="text" class="input" name="dni" placeholder="DNI">
        <input type="text" class="input" name="fec_nac" placeholder="Fecha de nacimiento">
        <input type="text" class="input" name="sex" placeholder="Sexo">
        <input type="text" class="input" name="password" placeholder="Contraseña">
        <input type="email" class="input" name="email" placeholder="Email">
        <input type="text" class="input" name="rol" placeholder="Rol">
        <button class="btn__login" type="submit">Registrar</button>
    </form>
    <p class="ingresar">¿Ya estas registrado? <a routerLink="/login">Ingresar</a></p>
</div>

