<div class="card__container">
    <div class="card">
        <div class="card__profile">
            <div>
                <img src="../../../../assets/comida.jpg" alt="">
            </div>
            <div class="img__info">
                <p class="profile__name"><strong>Pollo ahumado</strong></p>
                <p class="profile__rol">Veggie: No</p>
                <div class="profile__btn__container">
                    <button class="btn edit">Edit</button>
                    <button class="btn delete">Delete</button>
                </div>
            </div>
        </div>
        <div class="card__info">
            <div class="info__item">
                <p><strong>Gusto:</strong></p>
                <p>Salado</p>
            </div>
            <div class="info__item">
                <p><strong>Origen:</strong></p>
                <p>Italiano</p>
            </div>
            <div class="info__item">
                <p><strong>Restorantes:</strong></p>
                <p class="restaurants">Blackness<br>Jacinto</p>
            </div>
        </div>
    </div>
</div>
