<div class="form__container">
    <form action="" class="form">
        <img src="../../../../assets/lock.png" alt="">
        <p class="login__title">Ingresar Usuario</p>
        <label for="" class="label">Email</label>
        <input type="text" class="input" name="email" placeholder="Escribe tu e-mail">
        <label for="" class="label">Contraseña</label>
        <input type="password" class="input" name="password" placeholder="Escribe tu contraseña">
        <button class="btn__login" type="submit">Ingresar</button>
    </form>

    <p class="register">¿Sos nuevo? <a routerLink="/register">Registrarse</a></p>
</div>
