<div class="card__container">
    <div class="card">
        <div class="card__profile">
            <div>
                <img src="../../../../assets/Sin título.png" alt="">
            </div>
            <div class="img__info">
                <p class="profile__name">Adolfo Zuazo</p>
                <p class="profile__rol">Rol: User</p>
                <div class="profile__btn__container">
                    <button class="btn edit">Edit</button>
                    <button class="btn delete">Delete</button>
                </div>
            </div>
        </div>
        <div class="card__info">
            <div class="info__item">
                <p>DNI:</p>
                <p>37.525.727</p>
            </div>
            <div class="info__item">
                <p>Telefono:</p>
                <p>(351) 7477280</p>
            </div>
            <div class="info__item">
                <p>Fecha de nac:</p>
                <p>30/08/93</p>
            </div>
            <div class="info__item">
                <p>Sexo:</p>
                <p>Masculino</p>
            </div>
        </div>
    </div>
</div>