<div class="card__container" *ngFor="let user of allUsers">
    <div class="card">
        <div class="card__profile">
            <div>
                <img src="../../../../assets//add-user.png" alt="">
            </div>
            <div class="img__info">
                <p class="profile__name"><strong>{{user.name}} {{user.lastName}}</strong></p>
                <p class="profile__rol">Rol: {{user.rol}}</p>
                <div class="profile__btn__container">
                    <button class="btn edit">Edit</button>
                    <button class="btn delete" (click)="deleteUser(user._id)">Delete</button>
                </div>
            </div>
        </div>
        <div class="card__info">
            <div class="info__item">
                <p><strong>DNI:</strong></p>
                <p>{{user.dni}}</p>
            </div>
            <div class="info__item">
                <p><strong>Email:</strong></p>
                <p>{{user.email}}</p>
            </div>
            <div class="info__item">
                <p><strong>Nacimiento:</strong></p>
                <p>{{user.fec_nac}}</p>
            </div>
            <div class="info__item">
                <p><strong>Sexo:</strong></p>
                <p>{{user.sex}}</p>
            </div>
        </div>
    </div>
</div>