.header{
    display: flex;
    align-items: center;
    width: 100%; 
    position: relative;
    padding: 20px;  
    background-color: #2C3E50;
    color: #fff;
    height: 80px;
}

.header__title{
    margin-left: 70px;        
}

.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    position: absolute;
    right: 100px;
}

.nav__btn{
    padding: 10px;
}

.body__container{
    display: flex;
    min-height: calc(100vh - 80px);
}

.aside{
    width: 15%;
    border-right: 2px solid #2C3E50;
}

.aside__ul{
    list-style: none;

}

.ul__items{
    font-size: 18px;
    padding: 10px 20px;
}

.content{
    width: 70%;
    padding: 30px;
}

