<header class="header">
    <h2 class="header__title">ATP - CRUD</h2>
    <div class="nav__container">
        <p class="nav__name">User Name</p>
        <button class="nav__btn">Logout</button>
    </div>
</header>
<div class="body__container">
    <div class="aside">
        <ul class="aside__ul">
            <li class="ul__items">Users</li>
            <li class="ul__items">Meals</li>
            <li class="ul__items">Restaurants</li>
        </ul>
    </div>
    <div class="content">
        <H1>CONTENIDO</H1>
    </div>
</div>
